<body>
  <h1>Comments</h1>
    <table>
      <thead>
          <tr>
              <th>User Name</th>
              <th>E-mail</th>
              <th>Date Added</th>
              <th>Text</th>
              <th>Comments</th>
          </tr>
      </thead>
      <tbody>
          {% for comment in comment_list %}
            <tr>
                <td>{{ comment.user_name }}</td>
                <td>{{ comment.email }}</td>
                <td>{{ comment.created_at }}</td>
                <td>{{ comment.text }}</td>
                <td>{{ comment.parent_comment }}</td>
            </tr>
          {% endfor %}
      </tbody>
      </table>
</body>
